bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

appsettings.Development.json
appsettings.json
.env
.idea/.idea.BackendMoodTrackerApi/.idea/aws.xml
.idea/.idea.BackendMoodTrackerApi/.idea/efCoreCommonOptions.xml
.idea/.idea.BackendMoodTrackerApi/.idea/encodings.xml
.idea/.idea.BackendMoodTrackerApi/.idea/indexLayout.xml
.idea/.idea.BackendMoodTrackerApi/.idea/projectSettingsUpdater.xml
.idea/.idea.BackendMoodTrackerApi/.idea/vcs.xml
.idea/.idea.BackendMoodTrackerApi/.idea/workspace.xml
