./node_modules
BackendMoodTrackerApi/.env
BackendMoodTrackerApi/.idea/.idea.BackendMoodTrackerApi/.idea/aws.xml
BackendMoodTrackerApi/.idea/.idea.BackendMoodTrackerApi/.idea/efCoreCommonOptions.xml
BackendMoodTrackerApi/.idea/.idea.BackendMoodTrackerApi/.idea/encodings.xml
BackendMoodTrackerApi/.idea/.idea.BackendMoodTrackerApi/.idea/indexLayout.xml
BackendMoodTrackerApi/.idea/.idea.BackendMoodTrackerApi/.idea/vcs.xml
BackendMoodTrackerApi/.idea/.idea.BackendMoodTrackerApi/.idea/workspace.xml
